<template>
  <div class="history">
    <div class="select-zone">
      <date-picker class="date-picker-custom" />
      <v-select
        :items="items"
        :value="items[0]"
        outlined
        dense
        solo
      />
    </div>
    <div class="betting-table">
      <v-simple-table>
        <template>
          <thead>
            <tr>
              <th class="text-left">
                Ngày
              </th>
              <th class="text-left">
                Loại
              </th>
              <th class="text-left">
                Số đã đánh
              </th>
              <th class="text-left">
                Tổng tiền đánh (MCASH)
              </th>
              <th class="text-left">
                Tổng tiền trúng (MCASH)
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in betList" :key="item.day">
              <td>{{ item.day }}</td>
              <td style="display: inline-block;width: 100px;">
                <table>
                  <tr v-for="type in item.type">
                    <td>{{ type }}</td>
                  </tr>
                </table>
              </td>
              <td>
                <table>
                  <tr v-for="num in item.bettingNumber">
                    <td v-for="numType in num">
                      {{ numType }}
                    </td>
                  </tr>
                </table>
              </td>
              <td>
                <table>
                  <tr v-for="num in item.bettingCash">
                    <td>{{ num }}</td>
                  </tr>
                </table>
              </td>
              <td>
                <table>
                  <tr v-for="num in item.bettingEarn">
                    <td>{{ num }}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </div>
  </div>
</template>

<script>
import DatePicker from '../../components/DatePicker'
export default {
  name: 'History',
  components: { DatePicker },
  data () {
    return {
      items: [
        'Tất cả'
      ],
      betList: [
        {
          day: '24/12',
          type: ['Đề', 'Lô'],
          bettingNumber: {
            type1: [12, 13, 14, 15],
            type2: [25, 36, 16]
          },
          bettingCash: ['100.000', '1.000.000'],
          bettingEarn: ['500.000', '5.000.000']
        },
        {
          day: '23/12',
          type: ['Đề ', 'Lô', 'Lô Xiên'],
          bettingNumber: {
            type1: [12, 13, 14, 15],
            type2: [25, 36, 16],
            type3: [12, 13, 14, 15]
          },
          bettingCash: ['100.000', '1.000.000', '300.000'],
          bettingEarn: ['500.000', '5.000.000', '900.000']
        },
        {
          day: '20/12',
          type: ['Đề', 'Lô', 'Lô xiên', 'Đầu đuôi', '3 càng', 'Lô trượt'],
          bettingNumber: {
            type1: [12, 13, 14, 15],
            type2: [12, 13, 14, 15],
            type3: [12, 13, 14, 15],
            type4: [12, 13, 14, 15],
            type5: [25, 36, 16],
            type6: [25, 36, 16, 12, 13, 14, 15]
          },
          bettingCash: ['100.000', '1.000.000', '1.000.000', '1.000.000', '1.000.000', '1.000.000'],
          bettingEarn: ['500.000', '5.000.000', '1.000.000', '1.000.000', '1.000.000', '1.000.000']
        }
      ]
    }
  }
}
</script>

<style lang="sass" scoped>
.history
  .select-zone
    display: flex
    justify-content: center
    & > *
      width: 50%
  tbody > tr:nth-child(odd)
    background-color: #FBEBEB
  td
    border: unset!important
    table
      tr
        td
          padding: 0 5px 0 0
          height: 30px
  .betting-table
    margin-top: 20px
</style>
