<template>
  <div class="account">
    <div class="caption2">
      <p>Thông tin cá nhân</p>
    </div>
    <div class="options">
      <nuxt-link to="account/edit-info">
        <div class="options">
          Chỉnh sửa thông tin
        </div>
      </nuxt-link>
      <nuxt-link to="account/history">
        <div class="options">
          Lịch sử đánh
        </div>
      </nuxt-link>
      <nuxt-link to="account/betting">
        <div class="options">
          Đang đánh
        </div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Account'
}
</script>

<style lang="sass" scoped>
@import '../../assets/style/color.sass'

.account
  .caption2
    p
      color: #000
      text-transform: uppercase
      text-align: center
      font-size: 18px
  a
    text-decoration: none
    color: $gray
    &:hover
      color: $primary
    .options
      border-bottom: 1px solid #E6E6E6
      padding: 10px
</style>
