<template>
  <div class="choose-number">
    <div v-for="n in 100" :key="n" style="display: inline-block">
      <v-btn @click="a(n)">{{ convertNumber(n) }}</v-btn>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ChooseNumber',
  data () {
    return {
    }
  },
  methods: {
    a (a) {
      console.log(a)
    },
    convertNumber (n) {
      return n <= 9 ? '0' + n : n
    }
  }
}
</script>

<style scoped>

</style>
