<template>
  <v-menu
    ref="menu1"
    v-model="menu1"
    :close-on-content-click="false"
    transition="scale-transition"
    offset-y
    full-width
    max-width="290px"
    min-width="290px"
  >
    <template slot="activator" slot-scope="{ on }">
      <v-text-field
        v-model="dateFormatted"
        @blur="date = parseDate(dateFormatted)"
        v-on="on"
        hint="MM/DD/YYYY format"
        persistent-hint
        outlined
        dense
        prepend-inner-icon="event"
      />
    </template>
    <v-date-picker v-model="date" @input="menu1 = false" no-title />
  </v-menu>
</template>

<script>
export default {
  name: 'DatePicker',
  data: vm => ({
    date: new Date().toISOString().substr(0, 10),
    dateFormatted: vm.formatDate(new Date().toISOString().substr(0, 10)),
    menu1: false
  }),
  computed: {
    computedDateFormatted () {
      return this.formatDate(this.date)
    }
  },

  watch: {
    date (val) {
      this.dateFormatted = this.formatDate(this.date)
    }
  },

  methods: {
    formatDate (date) {
      if (!date) {
        return null
      }
      const [year, month, day] = date.split('-')
      return `${month}/${day}/${year}`
    },
    parseDate (date) {
      if (!date) {
        return null
      }
      const [month, day, year] = date.split('/')
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    }
  }
}
</script>
