<template>
  <div class="my-notification">
    <div class="select-zone">
      <date-picker class="date-picker-custom" />
      <v-select
        :items="items2"
        :value="items2[0]"
        outlined
        dense
        solo
      />
    </div>
    <div class="notification-zone">
      <div v-for="n in notiList" @click="showPopup(n.win)" class="notification-item">
        <span class="sub-text">
          {{ n.day }}
        </span>
        <p>{{ n.text }}</p>
      </div>
    </div>
    <v-dialog
      v-model="showWon"
      class="my-notification__dialog"
      width="350"
    >
      <v-card>
        <div class="popup-show">
          <p>Chúc mừng bạn đã trúng thưởng</p>
          <p class="cash">10000 MCASH</p>
          <v-btn @click="showWon = false" large color="#d30011" class="button-earn-cash">
            Nhận Thưởng
          </v-btn>
        </div>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="showLose"
      class="my-notification__dialog"
      width="300"
    >
      <v-card>
        <div class="popup-show">
          <p>Tiếc quá bạn không trúng rồi</p>
          <v-btn @click="showLose = false" large color="#d30011" class="button-earn-cash">
            Đóng
          </v-btn>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import DatePicker from './DatePicker'
export default {
  name: 'MyNotification',
  components: { DatePicker },
  data () {
    return {
      items2: [
        'Tất cả'
      ],
      showWon: false,
      showLose: false,
      notiList: [
        {
          day: '22/12/2019',
          text: 'Bạn đã trúng giải đặc biệt với số tiền là 10000MCASH hãy click vào để nhận thưởng',
          win: true
        },
        {
          day: '20/12/2019',
          text: 'Rất tiếc bạn đã không trúng giải, chúc bạn may mắn lần sau',
          win: false
        }
      ]
    }
  },
  methods: {
    showPopup (a) {
      a ? this.showWon = true : this.showLose = true
    }
  }
}
</script>

<style lang="sass" scoped>
@import '../assets/style/color.sass'

.notification-zone
  .sub-text
    font-size: 12px
  p
    font-size: 14px
</style>
