<template>
  <div class="navigation">
    <template>
      <v-bottom-navigation
        :value="activeBtn"
        grow
        light
        color="rgb(211, 0 ,17)"
      >
        <v-btn to="/">
          <span>Trang chủ</span>
          <v-icon>home</v-icon>
        </v-btn>

        <v-btn to="/notification">
          <span>Thông báo</span>
          <v-icon>mdi-bell</v-icon>
        </v-btn>

        <v-btn to="/place-a-bet">
          <span>Đặt cược</span>
          <img src="images/wheel 1.png" alt="">
        </v-btn>

        <v-btn to="/account">
          <span>Tài khoản</span>
          <v-icon>mdi-account</v-icon>
        </v-btn>
      </v-bottom-navigation>
    </template>
  </div>
</template>

<script>
export default {
  name: 'Navigation',
  data () {
    return {
      activeBtn: 0
    }
  },
  mounted () {
    if (this.$route.path) {
      if (this.$route.path === '/notification') {
        this.activeBtn = 1
      } else if (this.$route.path === '/place-a-bet') {
        this.activeBtn = 2
      } else if (this.$route.path === '/account') {
        this.activeBtn = 3
      }
    }
  }
}
</script>

<style scoped>

</style>
