<template>
  <div class="news">
    <div class="select-zone">
      <date-picker class="date-picker-custom" />
      <v-select
        :items="items2"
        :value="items2[0]"
        outlined
        dense
        solo
      />
    </div>
  </div>
</template>

<script>
import DatePicker from './DatePicker'
export default {
  name: 'News',
  components: { DatePicker },
  data () {
    return {
      items2: [
        'Tất cả'
      ]
    }
  }
}
</script>

<style scoped>

</style>
