<template>
  <div class="categorys">
    <div class="category-item">
      <img src="images/phuc.png" alt="">
      <p class="caption-text">
        Miền Bắc
      </p>
    </div>
    <div class="category-item">
      <img src="images/loc.png" alt="">
      <p class="caption-text">
        Miền Trung
      </p>
    </div>
    <div class="category-item">
      <img src="images/tho.png" alt="">
      <p class="caption-text">
        Miền Nam
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RegionsCategory'
}
</script>

<style lang="sass" scoped>
.categorys
  margin: 20px 0
  display: flex
  justify-content: space-between
  .category-item
    font-weight: 500
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 33%
  .caption-text
    text-transform: uppercase
</style>
