<template>
  <div class="the-winners">
    <div class="select-zone">
      <date-picker class="date-picker-custom" />
      <v-select
        :items="items2"
        :value="items2[0]"
        outlined
        dense
        solo
      />
    </div>
    <v-simple-table>
      <template>
        <thead>
          <tr>
            <th class="text-left">
              Ngày
            </th>
            <th class="text-left">
              Địa chỉ ví
            </th>
            <th class="text-left">
              Tổng tiền (MCASH)
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in winnersList" :key="item.day">
            <td>{{ item.day }}</td>
            <td>
              <table>
                <tr v-for="wallet in item.walletAddress">
                  {{ wallet }}
                </tr>
              </table>
            </td>
            <td>
              <table class="earning-cash">
                <tr v-for="num in item.earningCash">
                  {{ num }}
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </div>
</template>

<script>
import DatePicker from './DatePicker'
export default {
  name: 'the-winner',
  components: { DatePicker },
  data () {
    return {
      items2: [
        'Tất cả'
      ],
      winnersList: [
        {
          day: '22/10/2019', walletAddress: ['Masdfamdhjsv', 'Mxasdfamdhjsv', 'Mvasdfamdhjsv'], earningCash: ['90.000', '80.000', '70.000']
        },
        {
          day: '20/10/2019', walletAddress: ['Measdfamdhjs2v', 'Masdfa33mdhjsv', 'Mxasdfa1mdhjsv'], earningCash: ['190.000', '70.000', '70.000']
        }
      ]
    }
  }
}
</script>

<style lang="sass" scoped>
.earning-cash
  tr
    text-align: right
</style>
