<template>
  <v-card
    style="margin-bottom: 10px"
    color="grey lighten-4"
    flat
    tile
  >
    <v-toolbar dense style="box-shadow: none">
      <v-app-bar-nav-icon color="#fff" />

      <v-text-field
        outlined
        single-line
        small
        dense
        class="search-bar"
        background-color="#fff"
        label="Search"
        prepend-inner-icon="search"
      />

      <img style="margin-left: 20px" src="images/icon-right.png" alt="">
    </v-toolbar>
  </v-card>
</template>

<script>
export default {
  name: 'Toolbar'
}
</script>

<style lang="sass" scoped>
.search-bar
  border-radius: 13px
  padding-top: 3px
</style>
