.caption-text
  margin-bottom: 5px!important
  font-weight: 600
  font-size: 14px
.sub-text
  color: grey
.confirm-button
  width: 100%
  color: #fff!important
  margin: 10px 0
.caption2
  background: #FFC901
  p
    padding: 7px
    color: #CA0000
    font-weight: 500
    font-size: 15px
.v-text-field__details
  display: none!important
// disable box-shadow
.v-select
  .v-input__slot
    box-shadow: none!important
//
.history, .betting, .notification
  .v-input
    width: 35%!important
    margin-right: 10px!important
.notification
  .v-tab
    font-size: 14px
    letter-spacing: unset
    text-transform: unset
    display: inline
    padding: 0
    min-width: unset!important
    flex: unset!important
  .v-slide-group__content
    justify-content: space-between
  .v-item-group
    margin-bottom: 20px
.the-winners, .news, .my-notification
  .select-zone
    display: flex
    justify-content: center
    & > *
      width: 50%
// dialog used: 1
.v-dialog
  border-radius: 23px!important
.popup-show
  height: 350px
  text-align: center
  font-size: 20px
  font-weight: 600
  //border: 5px solid #d30011
  padding: 20px
  border-radius: 23px!important
  border-style: solid
  border-width: 5px
  border-image: linear-gradient(to bottom, #d30011, #de4a00, #e57200, #ea9600, #ebb712)
  border-image-slice: 1
  .button-earn-cash
    background: linear-gradient(to bottom, #d30011, #de4a00, #e57200, #ea9600, #ebb712)
    border-radius: 23px
    color: #fff!important
    position: absolute
    bottom: 20%
    right: 50%
    transform: translate(50%, -20%)
  .cash
    font-size: 35px
    color: #d30011
