<template>
  <v-app>
    <div class="app">
      <div class="app-content flex xs12 sm8 md4">
        <Toolbar />
        <v-container>
          <nuxt style="min-height: 80vh" />
        </v-container>
        <Navigation />
      </div>
    </div>
  </v-app>
</template>

<script>
import Toolbar from '../components/Toolbar'
import Navigation from '../components/Navigation'
export default {
  components: { Navigation, Toolbar },
  data () {
    return {
    }
  }
}
</script>
<style lang="sass">
.app
  font-family: 'Nunito Sans', sans-serif
  font-weight: 400
  background: #fafafa
  .app-content
    margin: auto
    background: #fff
    .v-toolbar__content
      background: rgb(211,0,17)
</style>
