<template>
  <div class="index">
    <regions-category />
    <div class="result-zone">
      <div class="result-rows">
        <div class="result-row">
          <date-picker />
        </div>
        <div class="result-row">
          <v-select
            :items="regions"
            :value="regions[0]"
            style="font-size: 14px"
            outlined
            dense
            solo
          />
        </div>
        <div class="result-row">
          <v-btn medium color="#d30011">
            XEM KẾT QUẢ
          </v-btn>
        </div>
      </div>
      <div class="caption2">
        <p>KẾT QUẢ XỔ SỐ ĐÀI MIỀN BẮC - CHỦ NHẬT NGÀY 22 - 12 -2109</p>
      </div>
      <div class="result-table">
        <v-simple-table>
          <template>
            <tbody>
              <tr v-for="item in prizes" :key="item.name">
                <td>{{ item.name }}</td>
                <td>
                  <span v-for="number in item.value">
                    {{ number }}
                  </span>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </div>
    </div>
    <div class="mcash-count">
      <p class="mcash-count__text">
        Tổng <span>MCASH</span> cược trong ngày
      </p>
      <p>22222</p>
    </div>
  </div>
</template>

<script>
import RegionsCategory from '../components/RegionsCategory'
import DatePicker from '../components/DatePicker'
export default {
  components: {
    DatePicker,
    RegionsCategory
  },
  data () {
    return {
      regions: [
        'Miền Bắc',
        'Miền Trung',
        'Miền Nam'
      ],
      prizes: [
        {
          name: 'Giải Đặc Biệt',
          value: [
            '1111'
          ]
        },
        {
          name: 'Giải Nhất',
          value: [
            '55555'
          ]
        },
        {
          name: 'Giải Nhì',
          value: [
            '55555',
            '55555'
          ]
        },
        {
          name: 'Giải Ba',
          value: [
            '55555',
            '55555',
            '55555',
            '55555',
            '55555'
          ]
        },
        {
          name: 'Giải Tư',
          value: [
            '4444',
            '4444',
            '4444',
            '4444'
          ]
        },
        {
          name: 'Giải Năm',
          value: [
            '4444',
            '4444',
            '4444',
            '4444',
            '4444'
          ]
        },
        {
          name: 'Giải Sáu',
          value: [
            '333',
            '333',
            '333'
          ]
        },
        {
          name: 'Giải Bảy',
          value: [
            '22',
            '22',
            '22',
            '22'
          ]
        }
      ]
    }
  }
}
</script>
<style lang="sass">
.index
  .result-zone
    & > *
      margin-bottom: 20px
    .result-rows
      display: flex
      justify-content: center
      .result-row
        display: flex
        justify-content: center
        width: 28%
        margin-right: 10px
        &:first-child
          width: 35%
        &:nth-child(2)
          width: 33%
        button
          color: #fff
          font-size: 13px
          margin-top: 2px
          font-weight: 600
        & > *
          max-width: 100%
    .result-table
      tbody tr:nth-child(odd)
        background-color: #FBEBEB
      td
        border: none
  .mcash-count
    .mcash-count__text
      text-align: center
      font-weight: 600
      text-transform: uppercase
      span
        color: red
</style>
