<template>
  <div class="notification">
    <v-tabs
      grow
      height="30px"
      :show-arrows="showArrows"
      :hide-slider="showArrows"
      color="#d30011"
    >
      <v-tab class="disable-event">
        <span>Người trúng thưởng</span>
      </v-tab>
      <v-tab class="disable-event">
        <span>Của tôi</span>
      </v-tab>
      <v-tab class="disable-event">
        <span>Tin mới</span>
      </v-tab>
      <v-tab-item
        :transition="false"
        :reverse-transition="false"
      >
        <the-winner />
      </v-tab-item>
      <v-tab-item
        :transition="false"
        :reverse-transition="false"
      >
        <my-notification />
      </v-tab-item>
      <v-tab-item
        :transition="false"
        :reverse-transition="false"
      >
        <news />
      </v-tab-item>
    </v-tabs>
  </div>
</template>

<script>
import MyNotification from '../components/MyNotification'
import News from '../components/News'
import TheWinner from '../components/TheWinners'
export default {
  name: 'Notification',
  components: { MyNotification, News, TheWinner },
  data () {
    return {
      tab: null,
      showArrows: false,
      items: [
        'Người trúng thưởng', 'Của tôi', 'Tin mới'
      ],
      items2: [
        'Tất cả'
      ],
      text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
