<template>
  <div class="place-a-bet">
    <regions-category />
    <div class="select-zone">
      <div class="select-regions">
        <div class="select-day">
          <p class="caption-text">
            Chọn ngày
          </p>
          <v-text-field
            label="29/12/2020"
            single-line
            dense
            outlined
          />
        </div>
        <div class="select-regions-details">
          <p class="caption-text">
            Chọn đài
          </p>
          <v-select
            :items="regions"
            :value="regions[0]"
            outlined
            dense
            solo
          />
        </div>
      </div>
      <div class="select-type">
        <v-btn
          v-for="type in types"
          @click="isChoose = type.character"
          :key="type.character"
          :class="{'isChoose':isChoose === type.character}"
          outlined
          color="grey"
          small
        >
          {{ type.name }}
        </v-btn>
      </div>
    </div>
    <div class="pick-zone">
      <p class="caption-text">
        Chọn số và tiền cược
      </p>
      <select v-model="betType" class="select-custom">
        <option>Tiền cược cho từng số</option>
        <option>Tổng tiền / tổng số con chọn</option>
      </select>
      <v-icon class="select-icon">mdi-menu-down</v-icon>
    </div>
    <div class="bet-zone">
      <div v-if="betType === betTypeList[0]" class="type1">
        <div class="type1-bet">
          <v-simple-table style="width: 87%">
            <template>
              <thead>
                <tr>
                  <td>
                    <span class="caption-text">Chọn số</span>
                    <span class="sub-text">
                      (2 số)
                    </span>
                  </td>
                  <td>
                    <span class="caption-text">Số tiền</span>
                    <span class="sub-text">
                      (MCASH)
                    </span>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in num" :key="item" class="bet-table">
                  <td width="30%">
                    <v-select
                      outlined
                      dense
                      solo
                    />
                  </td>
                  <td width="45%">
                    <v-text-field
                      single-line
                      dense
                      outlined
                    />
                  </td>
                </tr>
              </tbody>
            </template>
        </v-simple-table>
          <div class="add-row">
            <v-icon @click="num++" large color="#d30011">
              mdi-plus-circle
            </v-icon>
          </div>
        </div>
        <div class="sum-zone">
          <p>
            <span class="caption-text">
              Tổng tiền cược
            </span>
            <span class="sub-text">
              (MCASH)
            </span>
          </p>
          <v-text-field
            single-line
            dense
            outlined
          />
          <v-btn color="#d30011" class="confirm-button">
            Xác nhận
          </v-btn>
        </div>
      </div>
      <div v-else class="type2">
        <div class="type2-item">
          <p class="caption-text">
            Chọn số ( 2 số)
          </p>
          <v-select
            outlined
            dense
            solo
          />
          <p class="caption-text">
            Số tiền / 1 con (MCASH)
          </p>
          <v-text-field
            single-line
            dense
            outlined
          />
          <p class="caption-text">
            Tổng tiền đánh (MCASH)
          </p>
          <v-text-field
            single-line
            dense
            outlined
          />
          <p class="caption-text">
            Tiền thắng / 1 con (MCASH)
          </p>
          <v-text-field
            single-line
            dense
            outlined
          />
        </div>
        <v-btn color="#d30011" class="confirm-button">
          Xác nhận
        </v-btn>
      </div>
    </div>
  </div>
</template>

<script>
import RegionsCategory from '../components/RegionsCategory'
export default {
  name: 'PlaceABet',
  components: { RegionsCategory },
  data () {
    return {
      isChoose: 'danh_de',
      regions: [
        'Miền Bắc',
        'Miền Trung',
        'Miền Nam'
      ],
      num: 6,
      types: [
        {
          name: 'Đánh lô', character: 'danh_lo'
        },
        {
          name: '3 càng', character: '3_cang'
        },
        {
          name: 'Đánh đề', character: 'danh_de'
        },
        {
          name: 'Đầu đuôi', character: 'dau_duoi'
        },
        {
          name: 'Lô xiên', character: 'lo_xien'
        },
        {
          name: 'Lô trượt', character: 'lo_truot'
        }
      ],
      betTypeList: [
        'Tiền cược cho từng số',
        'Tổng tiền / tổng số con chọn'
      ],
      betType: 'Tiền cược cho từng số'
    }
  }
}
</script>

<style lang="sass" scoped>
.place-a-bet
  .select-zone
    margin-bottom: 20px
    .select-regions
      display: flex
      margin-bottom: 15px
      justify-content: flex-start
      .select-day
        width: 30%
        margin-right: 10px
        input
          max-width: 80%
      .select-regions-details
        width: 65%
    .select-type
      display: flex
      flex-wrap: wrap
      justify-content: flex-start
      & > *
        text-transform: unset!important
        color: #000!important
        font-size: 14px
        border-color: rgba(0, 0, 0, 0.24)
        margin: 0 10px 10px 0
        height: 36px!important
        width: 30%
      .isChoose
        background: #d30011!important
        border-color: #d30011
        color: #fff!important
  .pick-zone
    position: relative
    margin-bottom: 10px
    .select-custom
      border: 1px solid #E6e6e6
      color: #d30011
      padding: 7px
      width: 100%
      position: relative
    .select-icon
      position: absolute
      right: 10px
      bottom: 10px
  .bet-zone
    .type1, .type2
      border-radius: 13px
      padding: 7px
      box-shadow: 0 0 5px -1px #7f828b
      .type1-bet
        display: flex
        .add-row
          display: flex
          padding-bottom: 7px
          width: 13%
          align-items: flex-end
      .bet-table
        td
          padding: 0 7px
          border: none
      .sum-zone
        padding: 7px
      p
        margin-bottom: 7px
      .type2-item
        padding: 10px 5px 0 5px
</style>
